{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<div class="container-fluid">
  <div id="carouselExample" class="carousel ">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/random/1600x900/?udaipur" alt="crypto"/>
          
          <h1> PADHARO MAHARE DESH</h1>
          <p> </p>
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/random/1600x700/?jaipur" alt="nature"/>
          
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/random/1600x700/?jaisalmer" alt="jaisalmer"/>
         
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>



    <div class="container my - 3">

    <h1 class="my-2 text-center">KNOW THE RICH CULTURE OF RAJASTHAN</h1>

    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/random/1600x700/?kachori" alt="icecream"/>
            <div class="card-body">
              <p class="card-text" _msttexthash="9321065" _msthash="21" style="direction: ltr; text-align: left;">Rajasthani kachori is a beloved culinary delight originating from the culturally rich state of Rajasthan, India. These delectable pastries are renowned for their crispy, flaky exteriors and enticingly spicy fillings. The dough, made from wheat flour and spices, is meticulously kneaded to achieve the perfect texture. The filling usually comprises a mixture of lentils, spices like asafoetida and fenugreek, and aromatic herbs. Once assembled, they are deep-fried to golden perfection, resulting in a mouthwatering snack. Rajasthani kachori is often served with tangy tamarind chutney and spicy potato curry, creating a symphony of flavors that tantalize the taste buds. This culinary gem is not just a snack but a cultural experience that reflects the rich traditions of Rajasthan.</p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-body-secondary" _msttexthash="115934" _msthash="24" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">

          <div class="card shadow-sm">

            <img src="https://source.unsplash.com/random/1600x700/?chittorgarh" alt="udaipurfort"/>
            <div class="card-body">
              <p class="card-text" _msttexthash="9321065" _msthash="35" style="direction: ltr; text-align: left;">
                Chittorgarh Fort, located in Rajasthan, India, is one of the largest and most historic forts in the country. This UNESCO World Heritage Site boasts a rich history, with roots dating back to the 7th century. The fort, spread over 700 acres, features impressive structures like the Vijay Stambh (Tower of Victory) and the Kirti Stambh (Tower of Fame). It's renowned for its role in Rajput history and its association with tales of valor and sacrifice. The fort's stunning architecture and historical significance make it a captivating destination for history enthusiasts and tourists alike.</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary" _msttexthash="115934" _msthash="38" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>

          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/random/1600x700/?jaipurfort" alt="nature"/>
            <div class="card-body">
              <p class="card-text" _msttexthash="9321065" _msthash="77" style="direction: ltr; text-align: left;">The Jaipur Fort, also known as the Amber Fort or Amer Fort, is an iconic historical monument situated in the Amer town of Jaipur, Rajasthan, India. This majestic fort is a striking example of Rajput architecture and is renowned for its grandeur and intricate design.

                Built in the 16th century by Raja Man Singh I, the fort is constructed using red sandstone and marble, presenting a captivating blend of both Hindu and Mughal architectural styles. Its impressive entrance, known as the Suraj Pol Sun Gate, opens into a series of courtyards, palaces, and intricately decorated chambers..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-body-secondary" _msttexthash="115934" _msthash="80" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% endblock body %}